<h1>New Network</h1>

<form action="/create_network">
  <div>
    <label for="chanel">chanel</label><br />
    <input id="chanel" name="chanel" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

